body{
    background:black;
    color: teal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#conta{
    padding: 5%;
    margin: auto;
    background: silver;
    border: solid slateblue;
    margin: 1% 5% 
    
}
#otra_rama{
    background: slateblue;
    color: snow;
    margin:1% 5%


}
